<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.1.xsd
http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-3.1.xsd
http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.1.xsd
http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-3.1.xsd">
	
	<context:annotation-config />
	
	<mvc:annotation-driven /> 
	
	<context:component-scan base-package="net.aboutchurch.pvn" />
	
	<mvc:resources mapping="/**" location="/" />
	
	<!-- PUBLIC SERVICES -->
	
	<bean id="articlePublicService" class="org.springframework.remoting.httpinvoker.HttpInvokerProxyFactoryBean">  
    	<property name="serviceUrl" value="http://localhost/aboutchurch/articlePublicService.http"></property>  
    	<property name="serviceInterface" value="net.aboutchurch.common.services.ArticlePublicService"></property>
    	<property name="httpInvokerRequestExecutor">
    		<bean class="net.aboutchurch.util.AboutChurchHttpInvokerRequestExecutor"  />
  		</property>
	</bean>
	
	<bean id="bannerPublicService" class="org.springframework.remoting.httpinvoker.HttpInvokerProxyFactoryBean">  
    	<property name="serviceUrl" value="http://localhost/aboutchurch/bannerPublicService.http"></property>  
    	<property name="serviceInterface" value="net.aboutchurch.common.services.BannerPublicService"></property>
    	<property name="httpInvokerRequestExecutor">
    		<bean class="net.aboutchurch.util.AboutChurchHttpInvokerRequestExecutor"  />
  		</property>
	</bean>
	
	<bean id="albumPublicService" class="org.springframework.remoting.httpinvoker.HttpInvokerProxyFactoryBean">  
    	<property name="serviceUrl" value="http://localhost/aboutchurch/albumPublicService.http"></property>  
    	<property name="serviceInterface" value="net.aboutchurch.common.services.AlbumPublicService"></property>
    	<property name="httpInvokerRequestExecutor">
    		<bean class="net.aboutchurch.util.AboutChurchHttpInvokerRequestExecutor"  />
  		</property>
	</bean>
	
	<bean id="eventPublicService" class="org.springframework.remoting.httpinvoker.HttpInvokerProxyFactoryBean">  
    	<property name="serviceUrl" value="http://localhost/aboutchurch/eventPublicService.http"></property>  
    	<property name="serviceInterface" value="net.aboutchurch.common.services.EventPublicService"></property>
    	<property name="httpInvokerRequestExecutor">
    		<bean class="net.aboutchurch.util.AboutChurchHttpInvokerRequestExecutor"  />
  		</property>
	</bean>
	
	<bean id="categoryPublicService" class="org.springframework.remoting.httpinvoker.HttpInvokerProxyFactoryBean">  
    	<property name="serviceUrl" value="http://localhost/aboutchurch/categoryPublicService.http"></property>  
    	<property name="serviceInterface" value="net.aboutchurch.common.services.CategoryPublicService"></property>
    	<property name="httpInvokerRequestExecutor">
    		<bean class="net.aboutchurch.util.AboutChurchHttpInvokerRequestExecutor"  />
  		</property>
	</bean>
	
	<bean id="videoPublicService" class="org.springframework.remoting.httpinvoker.HttpInvokerProxyFactoryBean">  
    	<property name="serviceUrl" value="http://localhost/aboutchurch/videoPublicService.http"></property>  
    	<property name="serviceInterface" value="net.aboutchurch.common.services.VideoPublicService"></property>
    	<property name="httpInvokerRequestExecutor">
    		<bean class="net.aboutchurch.util.AboutChurchHttpInvokerRequestExecutor"  />
  		</property>
	</bean>
	
	<bean id="cloudPublicService" class="org.springframework.remoting.httpinvoker.HttpInvokerProxyFactoryBean">  
    	<property name="serviceUrl" value="http://localhost/aboutchurch/cloudPublicService.http"></property>  
    	<property name="serviceInterface" value="net.aboutchurch.common.services.CloudPublicService"></property>
    	<property name="httpInvokerRequestExecutor">
    		<bean class="net.aboutchurch.util.AboutChurchHttpInvokerRequestExecutor"  />
  		</property>
	</bean>
	

</beans>